  .custom-text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
   
  }
  .custom-round-button{
    border-radius: 50% !important;
    background-color: red;
    padding: 30px !important;
  }
  .custom-round-button:hover{
    color: red;
    background-color: white;
  }
  .btn-danger{
    background-color: red;
  font-size: 17px;
    border-radius: 0%;
    padding: 15px ;
  }
  .custom-button{
    margin-top: 50px;
    border-radius: 0%;
  }
  .navbar{
    width: 100%;
    height: 120px;
    text-decoration: solid;
    color: white;
    display: flex;
    flex-wrap: nowrap;  
    position: fixed;
    justify-content: center;
    align-items: center;
  }
  .navbarColour {
    color: white;
    transition: all 1s;
    background-color: black;
  }
  .logo img{
  margin: 0 120px 1px 0 ;
  }
  .btn1{
    width: 200px;
    border: 1px solid red;
    height: 65px;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #btn1{
    width: 200px;
    border: 1px solid red;
    height: 60px;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    margin-left: 5%;
    margin-top: 5px;
    margin: 5px 0 20% 5%;
    text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .nav{
    margin: 0px;
    flex-wrap: nowrap;
    display: flex;
  }
  .nav a{
    padding: 25px;
    color: aliceblue;
    text-decoration:solid;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .nav a:hover{
    color: red;
  }
  .banner1{
    background-image: url('Main-Bg1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    width: 100%;
  }
  .banner1 h1{
    text-align: left;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:30px 0 40px 50px ;
    font-size: 60px;
    width: 500px;
    font-weight: 900;
  }
  #line{
    background-color: red;
    width: 60px;
    height: 2px;
    display: inline-block;
    margin: 5px;
    margin-right: 25px;
  }  
  .banner1 p{
    color: red;
    text-align: left;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding-top: 200px;
    display: inline-block;
    padding-left: 50px;
  }
  
    